body {
  touch-action: manipulation;
}

.numbersMemo {
  background-color: rgb(56, 56, 56);
  border-radius: 3px;
  font-size: 90%;
  padding: 0.2em;
  position: absolute;
  width: 9em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.eventContainer {
  background-color: black;
  background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(35, 35, 35));
  border: 1px solid black;
  height: 100%;
  line-height: 1.6286;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.numbersMemoMid {
  font-size: 500%;
  top: 40%;
}
.memoReturn {
  left: 25%;
  bottom: 10em;
  position: absolute;
}
.memoElo {
  left: 65%;
  bottom: 3em;
  position: absolute;
}
.memoPrev {
  left: 40%;
  bottom: 10em;
  position: absolute;
}
.memoNext {
  left: 55%;
  bottom: 10em;
  position: absolute;
}

.cardsMemo_e {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 150px;
  position: relative;
}

.cardsMemo_g {
  background-position-x: -1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-left: 1px solid gray;
  border-radius: 6px;
  position: absolute;
  height: 157px;
  width: 104px;
}

.cardsMemoPos1Of2 {
  z-index: 51;
  transform: translate(1400px, 90px) scale(3.4);
  transform-origin: 623px 90px;
}
.cardsMemoPos2Of2 {
  z-index: 52;
  transform: translate(1560px, 90px) scale(3.4);
  transform-origin: 709px 90px;
}
.cardsMemoPos3Of2 {
  z-index: 53;
  transform: translate(1350px, 90px) scale(3.4);
  transform-origin: 623px 90px;
}
.cardsMemoPos4Of2 {
  z-index: 54;
  transform: translate(1510px, 90px) scale(3.4);
  transform-origin: 709px 90px;
}
.cardsMemoPos1Of2Compact {
  z-index: 51;
  transform: translate(900px, 90px) scale(2.4);
  transform-origin: 644px 90px;
}
.cardsMemoPos2Of2Compact {
  z-index: 52;
  transform: translate(1000px, 90px) scale(2.4);
  transform-origin: 687px 90px;
}
